.definition-box, .example-box {
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}