.theorem-name > strong::before {
    content: "Teorema " counter(h2) "." counter(h3) ". ";
}

.theorem-name {
    background-color: var(--theorem-green);
}

.theorem-box {
    border: 2px solid var(--theorem-green); 
}