.navigation-bar {
    color: white;
}

.toolbar {
    gap: 5;
}

.topic-button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: large !important;
}
