:root {
  --hyperlink-color: #646cff;
  --background-light-color: #f0f0f0;

  --section-color: #067d06;

  --definition-color: #206f8e;
  --theorem-color: #004C00;
  --example-color: #71279c;

  --tip-color: #BFAF5F;
  --warning-color: #990000;
  --notation-color: #E6B8B8;

  --prerequisites-color: #e8e3e3;
  --acknowledgements-color: #f7e5c1;
}

html, body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: medium;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--hyperlink-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--hyperlink-color);
}