:root {
  --hyperlink-blue: #646cff;
  --background-gray: #f0f0f0;
  --definition-blue: #000080;
  --theorem-green: #004C00;
  --section-green: #067d06;
  --example-yellow: #f1f1b7;
}


html, body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: medium;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--hyperlink-blue);
  text-decoration: inherit;
}

a:hover {
  color: var(--hyperlink-blue);
}